.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}
.title {
  margin: 2rem;
}
.img {
  width: 100%;
  height: 40vh;
}
.imgContainer {
  margin: 0.5rem 0;
}
.link {
  margin: 2rem 0;
  font-weight: 500;
  font-size: 23px;
  text-decoration: underline;
  letter-spacing: 0.02em;
  font-family: Roboto;
  color: #ba595f;
  text-align: center;
  display: block;
}
.note {
  color: #6b6b6b;

  text-align: center;
  margin: 1rem 0;
}
