@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');



.form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-inline: 4rem;
}

.form>div {
  width: 100%;
}


.form>input,
.form>select {
  width: 80%;
  border-width: 0;
  margin-inline: 2rem;
  margin-block: 1rem;
}

.title {
  text-align: center;
}

.selectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

}


.form>input,
.form>div>select {
  min-height: 4rem;
  min-width: 33rem;
  background-color: #f9f9f9;
  padding-left: 1.85rem;
  font-weight: 900;
}



.form>input::placeholder,
.selectit {
  display: flex;
  margin: auto 0;
  align-items: center;
  color: #464A57;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
}

.form>select option {
  color: red;
}

.button {
  border-radius: 0.4375rem;
  background: #BA595F;
  color: #FFFDFD;
  margin-inline: 8rem;
  cursor: pointer;
  padding: 1rem;
}

.datePicker {
  width: 80%;
  border: none;
  background-color: #f9f9f9;
}