*, *::after, *::before{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
}
.title{
    position: relative;
    font-size: 35px;
    letter-spacing: 0.02em;
    line-height: 30px;
    display: block;  
    color: #000;
    text-align: center;
    margin: 2rem 0;
}
.innertext{
    margin:0.8rem 0;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #6b6b6b;
    text-align: center;
    display: inline-block;
}
span{
    display: block;
}
.img{
    width: 100%;
}
.imgContainer{
    margin:1.4rem 0;
}
.linkToHomepage{
    
}
a{
    color: #ba595f;
    transition: all .2s ease-in-out;
    font-weight: 550;
    margin:4rem;
    position: relative;
    font-size: 24px;
    text-decoration: underline;
    letter-spacing: 0.02em;
    text-align: center;
    display: block;
}