.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 2rem;
}

.container>h4 {
    font-family: Roboto;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 0.5rem;
    letter-spacing: 0.02em;
}

.container>img {
   margin: 4vh 0;
   max-height: 6em;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.form>div {
    display: flex;
    background: rgba(249, 249, 249, 1);
    gap: 2vh;
    padding-left: 0.5vw;
}

.form>div>div {
    height: 6vh;
    width: 1px;
    background-color: rgba(0, 0, 0, 1);
    align-self: center;
}

.form>div>input {
    outline: none;
    border: none;
    background: rgba(249, 249, 249, 1);
    width: 50vw;
}

input[type="text"] {
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0em;
    color: rgba(70, 74, 87, 1)
}

.button {
    margin-top: 7vh;
    border-radius: 5px;
    width: 10%;
    height: 5vh;
    border: none;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
    letter-spacing: 0em;
    text-align: center;
    background-color: rgba(186, 89, 95, 1);
    color: rgba(255, 253, 253, 1);
    cursor: pointer;
    transition: 1s;
}

.button:active {
    scale: 0.7;
}