.header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 3px solid #BA595F;
    padding: 0;
}

.Logo {
    height: 53px;
    margin: auto 0;
    padding: 0 1rem;
}

.icon {
    margin: auto 0;
    white-space: nowrap;
    padding: 0 1rem;
}

.icons {
    padding: 0 0.5rem;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #BA595F;
    font-weight: 900;
}

.compname {
    font-family: Roboto;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #BA595F;
    display: block;
    white-space: nowrap;
    text-align: justify;
    margin: 0.8em 1rem;
    padding-left: 10rem;
}