.header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 3px solid #ba595f;
}

.Logo {
  height: 50px;
  margin: auto 0;
  padding: 0 1rem;
  max-width: 15vw;
  cursor: pointer;
  display: block;
}

.compname {
  font-family: Roboto;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #ba595f;
  display: inline-block;
  text-align: center;
  margin: 0.8em auto;
  padding: auto;
  width: 70vw;
}

.icon {
  margin: auto 0;
  white-space: nowrap;
  padding: 0 0.2rem;
  cursor: pointer;
  align-self: flex-end;
  display: block;
}

.icons {
  padding: 0 0.1rem;
  margin: 0 0.6rem;
  font-size: 300px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ba595f;
  font-weight: 900;
  cursor: pointer;
  width: 20%;
}

.nav_btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: #ba595f;
  visibility: hidden;
  display: none;
  opacity: 0;
}

@media only screen and (max-width: 767px) {
  /* Your styles for mobile devices */
  .header {
    max-width: 1500px;
    border-bottom: 3px solid #ba595f;
  }

  .compname {
    display: none;
  }

  .icon {
    margin-right: 0.5rem;
    border-left: 2px solid #ba595f;
    width: 70%;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
  }

  .icons {
    padding: 0;
    margin: 0;
    font-size: 10;
    padding: 0 0.4rem;
  }

  .Logo {
    height: 40px;
    display: block;
    margin-left: 0.5rem;
  }
}
