@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 80%;
    margin:1rem  auto;
    line-height: normal;
}

.title{
    text-align: center;
    padding:1.2rem;

}
.text{
        position: relative;
        font-size: 16px;
        letter-spacing: 0.02em;
        font-family: Roboto;
        color: #6b6b6b;
        text-align: center;
        display: inline-block;
}
.appreciate{
    display:block;
    text-align: center;
}
.img{
    margin: auto;
    display: flex;
    max-width: 100%;
}
.imgContainer {
    margin:2.5rem 0;
}
.link{
    margin: auto;
    display: block;
    font-size: 24px;
    text-decoration: underline;
    letter-spacing: 0.02em;
    font-family: Roboto;
    color: #ba595f;
    text-align: center;
    display: inline-block;
}
